<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/compiled.css' />
  </head>
  <body style="background-color: #E9EBEE;">
    <!-- navbar -->
    <%- include navbar.ejs %>

    <section id="blog-list-item-detail">
      <div class="container text-center">
        <div class="col-xs-6 col-xs-offset-3">
          <h1><%- blog.title %></h1>
        </div>
        <div class="col-xs-8 col-xs-offset-2">
          <img src="/images/damon.jpg"> <span>Written by Damon Nguyen</span>
          <br>
          <span>Last Updated: <%- blog.date %></span>
        </div>
        <div class="col-xs-8 col-xs-offset-2">
          <p><%- blog.description %></p>
        </div>
      </div>
    </section>


  </body>
    <script src="https://use.fontawesome.com/78f754ebab.js"></script>
</html>
