<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <title>Damon Nguyen</title>
    <%- include css.ejs %>
  </head>
  <body>
    <!-- navbar -->
    <%- include navbar.ejs %>
    <section class="border-right-section blog-masonry-container bg-gray">
      <div class="container-fluid">
        <div class="">
          <div class="row">
            <%- include blog-item/ajax-item.ejs %>
            <%- include blog-item/this-item.ejs %>
            <%- include blog-item/closure-item.ejs %>
          </div>
        </div>
      </div>
    </section>

    <%- include footer.ejs %>
    <%- include js.ejs %>
  </body>
</html>