<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include css.ejs %>
  </head>
  <body>

  <div class="container">
    <!-- navbar -->
    <%- include navbar.ejs %>
    <!-- Canvas graphics -->
    <%- include space.ejs %>
    <!-- introduction -->
    <%- include introduction.ejs %>
    <!-- projects -->
    <%- include project.ejs %>
    <!-- projects3 -->
    <%- include project3.ejs %>
    <!-- project4 -->
    <%- include project4.ejs %>
    <!-- projects2 -->
    <%- include project2.ejs %>
    <!-- passion -->
    <%- include passion.ejs %>
    <!-- Hobbies -->
    <%- include hobbies.ejs %>
    <!-- footer -->
    <%- include footer.ejs %>
  </div>

    <%- include js.ejs %>
</html>
