<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include css.ejs %>
  </head>
  <body>
    <!-- navbar -->
    <%- include navbar.ejs %>
    <!-- Canvas graphics -->
    <%- include space.ejs %>
    <!-- introduction -->
    <%- include introduction.ejs %>
    <!-- projects -->
    <%- include project.ejs %>
    <!-- passion -->
    <%- include passion.ejs %>
    <!-- projects2 -->
    <%- include project2.ejs %>
    <!-- Hobbies -->
    <%- include hobbies.ejs %>
    <!-- projects3 -->
    <%- include project3.ejs %>
    <!-- footer -->
    <%- include footer.ejs %>


    <%- include js.ejs %>
</html>
